<h1>Eat Da Burger</h1>

<ul>
   {{#each burgers}}
    {{#unless this.devoured}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
</ul>

<h2>Add a Cat</h2>
 {{this.burger_name}}
<form class="create-form" action="/{{this.id}}" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Cook the Burger</button>
  {{/if}}
    {{/each}}
</form>